{{define "index"}}
<html>
<head>
    <title>gempir</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#343838">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <label><select id="voices"></select></labeL>
    <input type="range" min="0" max="1" step="0.1" name="volume" id="volume" value="1">
    <div class="message"></div>
    <input class="keyword" type="text" placeholder="Kappa" autofocus>
</body>
<script type="text/javascript" src="/static/main.js"></script>
</html>
{{end}}