body {
    height: 100%;
    background: #001f3f;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.message {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 42px;
    color: white;
}

.keyword {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 0;
    font-size: 72px;
    color: white;
    outline: none;
    width: 600px;
    height: 120px;
    border: 0;
    border-bottom: 1px solid #DDDDDD;
}

.keyword::-webkit-input-placeholder {
    color: #DDDDDD;
    -webkit-filter: opacity(0.25);
            filter: opacity(0.25)
}

select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #0074D9;
    border: 1px solid #111111;
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

select:focus {
    outline: 0; 
}